#background {
  max-width: 100%;
  height: auto;
}

#home-container {
  position: relative;
  width: 100%;
}

.button-container {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-div {
  text-align: center;
}

.text-div h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color: white;
  font-size: 100px;
}

#italic-h1 {
  font-style: oblique;
  font-size: 30px;
}

#enter-button {
  background-color: transparent;
  margin-top: 20px;
  font-family: 'Pokemon Solid', sans-serif;
  border-color: orange;
}

#enter-button:hover {
  background-color: orange;
  border-color: white;
  color: black;
}
